*{
    box-sizing: border-box;
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6,div, span, p{
    margin:0;
    padding:0;
    text-decoration: none;

}
body{
    
    color:#FCF6F5FF;
     font-family: 'Karla' sans-serif;
}
.wrapper{
        width: 100%;
}
.header{
    width: 100%;
    background-image: linear-gradient(to right,#3C6F4A,#0E2B15);
    z-index:1000;

}
.navbar{
    padding: 20px 0px;
    line-height: 1.9;
    background-image:linear-gradient(to right, #487A68,#0F2E23);
}
.nav-link{
    color:#F2B8D3;
    font-size: 1.2em;
    font-family: 'Roboto' sans-serif;
    margin: 0px 10px;
    text-transform: uppercase; 
    text-align: right;  

}

.nav-link > button{
    width: 140px;
    border: 1px solid #0F2E23;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    text-transform: uppercase;
    color: #F2B8D3;
    background-color: #487A68;
    font-size: 0.7em;
    font-weight: bold;
}
.branding div{
    color: #F2B8D3;
    text-decoration: none;
    display: inline;
    font-weight: 600;
}

.branding div > span{
    color: #0F2E23;
    text-decoration: none;
    display: inline;
    font-weight: 600;
}
 .branding img {
    margin: 0;
    padding: 0;
  }
  .branding > a > div::after{
    content: "cake";
    display: block;
    font-size: 0.6em;
    font-weight: 600;
    padding-left: 25%;
    text-transform: uppercase;
  }
.banner{
    width: 100%;
    padding: 100px 0px;
    background-image:linear-gradient(to right, #487A68,#0F2E23);
}
.banner .caro{
  padding-top:50px;
}
  .first h1 {
    padding: 20px 0px;
    font-size: 3em;
    font-weight: 700;
    color: #F2B8D3;
  }
  .first h1 span{
      color: #487A68;
  }

  .first p {
    padding: 20px 0px;
    font-size: 1em;
    font-weight: 400;
    color:#FCF6F5FF;
  }

  .first button{
    width: 140px;
    border: 1px solid #F2B8D3;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    text-transform: uppercase;
    color: #0E2B15;
    background-color: #F2B8D3;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
  }
   #second{
    width: 140px;
    border: 1px solid #487A68;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    text-transform: uppercase;
    color: #F2B8D3;
    background-color: #0F2E23;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;

  }
  #about{
    width: 100%;
    padding: 50px 0px;
    color:#0F2E23;
    background-image:linear-gradient(to right, #F2B8D3,#487A68);
  }
  
  .founder{
    background-repeat: no-repeat;
    background-position: center;
    margin:0px 0px 100px 0px;    
  }
  
  #service{
    color: #F2B8D3;
      background-image:linear-gradient(to right,#487A68,#F2B8D3);
      
  }
.card{
    margin:20px;
    color: #F2B8D3;
    background-color: #0F2E23;

}
#portfolio{
    background-image:linear-gradient(to right, #F2B8D3,#487A68);
    color:#0F2E23;

}
#portfolio h3{
    padding: 10px 0px;
}
.im{
    padding-bottom: 10px;
}
#contact{
    color: #0F2E23;
    background-image:linear-gradient(to right,#487A68,#F2B8D3);
}
#contact form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  #contact form h3,
  .container div h3,
  .container div address {
    color: #0F2E23;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  #contact input {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    padding: 10px;
    border-color: #0F2E23;
    color:#0F2E23;
  }

  #contact textarea {
    width: 100%;
    margin: 10px 0;
    height: 90px;
    border-color: #0F2E23;
    color:#0F2E23;
  }
  #contact .button {
    margin-top: 10px;
    
  }
  #contact form button {
    width: 140px;
    border: 1px solid #0F2E23;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    text-transform: uppercase;
    color: #F2B8D3;
    background-color: #0F2E23;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 20px;
  }
.footer{
    padding:5px 0px;
    color:#F2B8D3;
    font-size: 12px;
    background-image:linear-gradient(to right,#487A68,#0F2E23);
}